
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dhl/

# Redirect Trailing Slashes If Not A Folder...
#RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^dhl/?$ index.php [L]

RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.gif|\.jpeg|\.bmp|\.css|\.js)$
RewriteRule (.*)  index.php?path=$1 [L]

</IfModule>
