body {
	font-family: 'Arsenal', sans-serif;
}

.logo {
	background-image: url('gcl-logo.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
    height: 50px;
}

hr {
	margin-top: 1em;
	margin-bottom: 1em;
}

.flex {
	display: flex;
	align-items: center;
}

.foot-content {
	@extend .flex;
	height: 70px;
}

.menu-wrapper, .logo {
	@extend .flex;
	height: 70px;
}

input, textarea, select, fieldset {
    margin-bottom: 1.5rem !important;
}

th, td {
	padding: 12px 15px !important;
}

.collapse-container {
	padding: 20px;
	h5 {
		padding-bottom: 20px;
		text-align: center;
		text-transform: uppercase;
	}
}

input[type="date"], input[type="datetime-local"] {
	height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 4px;
    box-shadow: none;
    box-sizing: border-box;
}

.collapse {
	height: 0;
	overflow: hidden;
	transition: all .5s;
}

.in {
	height: inherit !important;
	overflow: visible !important;
}


